@model TerminalY.Models.Order

@{
    ViewData["Title"] = "Create";
}

@{ TerminalY.Models.Cart cart = (Cart)ViewData["cart_to_view"]; }

<section class="checkout-section spad">
    <div class="container">
        <div class="row billing-warpper">
            <div class="col-lg-6 order-2 order-lg-1 billing-form">
                <form asp-action="Create" class="checkout-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-4">
                            <input asp-for="Country" type="text" class="form-control" placeholder="Country">
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <input asp-for="City" type="text" class="form-control" placeholder="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-8">
                            <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-4">
                            <input asp-for="PostalCode" type="text" class="form-control" placeholder="Postal Code">
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone Number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="delievery-info">
                        <h3>Delievery Info</h3>
                        <div class="row">
                            <div class="col-6">
                                <span>Standard</span>
                            </div>
                            @{ var delivery = Html.GetEnumSelectList<Delivery>().ToArray(); }
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-1" value="@delivery[0].Value">
                                        <label for="ship-1">Free</label>
                                        <span asp-validation-for="Delivery" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <span>Next day delievery  </span>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-2" value="@delivery[1].Value">
                                        <label for="ship-2">$3</label>
                                        <span asp-validation-for="Delivery" class="text-danger"></span>
                                    </div>
                                    <div id="log"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <span>Premium</span>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-3" value="@delivery[2].Value">
                                        <label for="ship-3">$6</label>
                                        <span asp-validation-for="Delivery" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="site-btn submit-order-btn">Submit</button>
                </form>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
                    @if (cart != null)
                    {
                        <ul class="product-list" style="list-style-type:none;">

                            @foreach (var item in cart.CartItems)
                            {
                                <li class="row mt-3">
                                    <div class="pl-thumb col-2">
                                        @if (item.Product.Image != null)
                                        {
                                            string img = item.Product.Image;
                                            <img src="@img" width="50" height="75" alt="No picture">
                                        }
                                        else
                                        {
                                            <img src="~/img/cart/1.jpg" alt="No picture">
                                        }
                                    </div>
                                        <h6 class="col-6">@item.Product.Name</h6>
                                        <p class="col-2">$@item.Product.Price,00</p>
                                        <p class="col-2">@item.Quantity</p>
                                </li>
                            }

                        </ul>
                        <ul class="price-list" style="list-style-type:none;">
                            <li class="total"><b>Total<span> $@cart.TotalPrice,00 </span></b></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</section>