@model TerminalY.Models.Order

@{
    ViewData["Title"] = "Create";
}

@{ TerminalY.Models.Cart cart = (Cart)ViewData["cart_to_view"]; }

<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form asp-action="Create" class="checkout-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="cf-title">Billing Address</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">

                            <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>

                            <input asp-for="City" type="text" class="form-control" placeholder="City">
                            <span asp-validation-for="City" class="text-danger"></span>

                            <input asp-for="Country" type="text" class="form-control" placeholder="Country">
                            <span asp-validation-for="Country" class="text-danger"></span>

                        </div>
                        <div class="col-md-6">
                            <input asp-for="PostalCode" type="text" class="form-control" placeholder="ZipCode">
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="cf-title">Delievery Info</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <h4>Standard</h4>
                        </div>
                        @{ var delivery = Html.GetEnumSelectList<Delivery>().ToArray(); }
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-1" value="@delivery[0].Value">
                                    <label for="ship-1">Free</label>
                                    <span asp-validation-for="Delivery" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Next day delievery  </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-2" value="@delivery[1].Value">
                                    <label for="ship-2">$3</label>
                                    <span asp-validation-for="Delivery" class="text-danger"></span>
                                </div>
                                <div id="log"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Premium  </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input asp-for="Delivery" class="form-control" type="radio" name="Delivery" id="ship-3" value="@delivery[2].Value">
                                    <label for="ship-3">$6</label>
                                    <span asp-validation-for="Delivery" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Payment:</div>
                    <ul class="payment-list" >
                        <li>Paypal<a href="#"><img src="~/img/paypal.png" alt=""></a></li>
                        <li>Credit / Debit card<a href="#"><img src="~/img/mastercart.png" alt=""></a></li>
                        <li>Pay when you get the package</li>
                    </ul>
                    <button class="site-btn submit-order-btn">Submit</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
                    @if (cart != null)
                    {
                        <ul class="product-list" style="list-style-type:none;">

                            @foreach (var item in cart.CartItems)
                            {
                                <li>
                                    <div class="pl-thumb">
                                        @if (item.Product.Image != null)
                                        {
                                            string img = item.Product.Image;
                                            <img src="@img" alt="No picture">
                                        }
                                        else
                                        {
                                            <img src="~/img/cart/1.jpg" alt="No picture">
                                        }
                                    </div>
                                    <h6>@item.Product.Name</h6>
                                    <p>$@item.Product.Price,00</p>
                                </li>
                            }

                        </ul>
                        <ul class="price-list" style="list-style-type:none;">
                            <li class="total">Total<span> $@cart.TotalPrice,00</span></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</section>