@model IEnumerable<TerminalY.Models.Cart>

@{
    ViewData["Title"] = "Carts";
}

<h1>Carts</h1>

<p>
    <a asp-action="CartCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Name)
            </td>
            <td>
                <a asp-action="CartEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="CartDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="CartDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
