
@model IEnumerable<TerminalY.Models.Product>
<!-- Page info -->

<div class="page-top-info">
    <div class="container">
        <h4>Search PAge for - @TempData["term"]</h4>
        <div class="site-pagination">
            <a asp-action="Index" asp-controller="Home">Home</a> /
            <a asp-action="Shop" asp-controller="Categories">Shop</a> /
        </div>
    </div>
</div>
<!-- Page info end -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        @if (product.Image != null)
                                        {
                                            <img src="@product.Image" height="300"width="200">
                                        }
                                    </a>
                                    <div class="pi-links" id="@product.Id">
                                        <a class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                    </div>
                                </div>
                                <div class="pi-text">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        <h6>$@Html.DisplayFor(model => product.Price),00</h6>
                                        <p>@Html.DisplayFor(model => product.Name)</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="text-center w-100 pt-3">
                        <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Category section end -->
