@model IEnumerable<TerminalY.Models.Product>

@{ ViewData["Title"] = "Shop"; }

<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title categories-header-shop">Categories</h2>
                    <ul class="categories-list">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li>
                                <a asp-action="Shop" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                    <div class="slider-container">
                        <input type="range" min="0" max="1000" value="1000" class="slider" id="myRange">
                        <p>Price up to: <span id="slider-value">1000$</span></p>
                        <button id="filter-btn" class="site-btn">Filter</button>
                    </div><!-- / range-filter -->
                </div>
            </div>
            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row" id="tbody">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        @if (product.Image != null)
                                        {
                                            <img src="@product.Image" height="350" width="250">
                                        }
                                    </a>
                                </div>
                                <div class="product-text">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        <div class="row">
                                            <p class="col-8">@Html.DisplayFor(model => product.Name)</p>
                                            <h6 class="col-4">$@Html.DisplayFor(model => product.Price),00</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/Filter.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script id="results" type="text/html">

        <div class="col-lg-4 col-sm-6">
            <div class="product-item">
                <div class="pi-pic">
                    <a href="/Products/Details/${id}">
                        <img src="${image}" alt="${name}" height="350" width="250">
                    </a>
                </div>
                <div class="pi-text">
                    <h6>$ ${price},00</h6>
                    <p>${name}</p>
                </div>
            </div>
        </div>
    </script>

}