@model IEnumerable<TerminalY.Models.Product>

@{ ViewData["Title"] = "Shop"; }

<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title categories-header-shop">Categories</h2>
                    <ul class="categories-list">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li>
                                <a asp-action="Shop" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row" id="tbody">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        @if (product.Image != null)
                                        {
                                            <img src="@product.Image" height="350" width="250">
                                        }
                                    </a>
                                </div>
                                <div class="pi-text">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
                                        <h6>$@Html.DisplayFor(model => product.Price),00</h6>
                                        <p>@Html.DisplayFor(model => product.Name)</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
